{% extends "base.html" %}
{% block content %}

<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
{#    <fieldset>#}
{#        <legend>Registration</legend>#}
{##}
{#        <label>Header#}
{#          {{ form.header }}#}
{#        </label>#}
{#        <label>Body#}
{#          {{ form.body }}#}
{#        </label>#}
{#        <label>Tags#}
{#          {{ form.tags }}#}
{#        </label>#}

        <input class="button" type="submit" value="Create" />

{#      </fieldset>#}

</form>

{% endblock %}