{% extends "base.html" %}
{% block content %}

{% load staticfiles %}

{% for question in object_list %}

    <div class="panel row">
      <div class="large-3 columns">
          {% if question.author.avatar %}
                <img class="active"> <img class="avatar" src="{{ question.author.avatar.url }}">
            {% else %}
                <img class="active"> <img class="avatar" src="{% static 'avatar.jpg' %}">
            {% endif %}
{#          <img class="avatar" src="{% static 'avatar.jpg' %}">#}
          <div class="rating">
              <a class=""><i class="fa fa-sort-asc fa-2x"></i></a>
              <div class="number">{{ question.rating }}</div>
              <a class=""><i class="fa fa-sort-desc fa-2x"></i></a>
          </div>
      </div>
      <div class="large-6 columns end">
         <a class="header" href="{% url 'question-page' pk=question.id %}">{{ question.header }}</a>
         <div class="question-body">{{ question.body }}</div>
         <div>Author: {{ question.author }}</div>
          <div>
              <a class="ans-count" href="{% url 'question-page' pk=question.id %}">answers {# TODO: счетчик #}</a>
              {#  TODO: fix href  #}
              <a href="#">Tags</a>
          </div>
      </div>
    </div>

{#    {% for answer in question.which_answer %}#}
{#        {{ answer.boby }}#}
{#    {% endfor %}#}
    <hr>
    <ul class="accordion" data-accordion>
    {% for ans in answers %}

          <li class="accordion-navigation">
            <a href="#panel{{ ans.id }}a">{{ ans.body }}</a>
            <div id="panel{{ ans.id }}a" class="content">
                <p>{{ ans.author }}</p>
                <p>{{ ans.rating }}</p>
                <p>{{ ans.date }}</p>
                <p>{{ ans.flag }}</p>
            </div>
          </li>
    {% endfor %}
    </ul>

{% endfor %}
{#  TODO: fix pagination  #}
    <ul class="pagination" role="menubar" aria-label="Pagination">
      <li class="arrow unavailable" aria-disabled="true"><a href="">&laquo; Previous</a></li>
      <li class="current"><a href="">1</a></li>
      <li><a href="">2</a></li>
      <li><a href="">3</a></li>
      <li><a href="">4</a></li>
      <li class="unavailable" aria-disabled="true"><a href="">&hellip;</a></li>
      <li><a href="">12</a></li>
      <li><a href="">13</a></li>
      <li class="arrow"><a href="">Next &raquo;</a></li>
    </ul>
{% endblock %}