{% extends "base.html" %}
{% block content %}

{% if form.errors %}
    <small class="error">Your passwords didn't match</small>
{% endif %}

<form action="" method="post">
    {% csrf_token %}
{#    {{ form.as_p }}#}
    <fieldset>
        <legend>Registration</legend>

        <label>
            <span data-tooltip aria-haspopup="true" class="has-tip tip-right noradius" title="Required field">
                Username
            </span>
          {{ form.username }}
        </label>
        <label>Email
          {{ form.email }}
        </label>
        <label>
            <span data-tooltip aria-haspopup="true" class="has-tip tip-right noradius" title="Required field">
                Password
            </span>
          {{ form.password1 }}
        </label>
        <label>
            <span data-tooltip aria-haspopup="true" class="has-tip tip-right noradius" title="Required field">
                Password confirmation
            </span>
          {{ form.password2 }}
        </label>
        <label>Avatar
          {{ form.avatar }}
        </label>

        <input class="button" type="submit" value="Create" />

      </fieldset>

</form>

{% endblock %}