<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ask app</title>

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'ask_app/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'ask_app/css/foundation.min.css' %}">
    <link rel="stylesheet" href="{% static 'ask_app/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'ask_app/css/mine.css' %}">

</head>
<body>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">Ask app</a></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
            {% if user.is_authenticated %}
              <li class="active"><a href="{% url 'question-create-page' %}">ASK</a></li>
              <li class="active"> {{ user.avatar }} </li>
              <li class="has-dropdown">
                <a href="#">{{ user.username }}</a>
                <ul class="dropdown">
                  <li><a href="{% url 'user-update-page' pk=user.id %}">Change profile</a></li>
                  <li><a href="{% url 'logout-page' %}">Logout</a></li>
                </ul>
              </li>
            {% else %}
              <li class="active">
                  <a href="{% url 'login-page' %}">Log In</a>
              </li>
                <li class="active">
                  <a href="{% url 'user-create-page' %}">Register</a>
              </li>
            {% endif %}
        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
            <li class="has-form">
                <div class="row collapse">
                    {#       TODO: write handler for this form        #}
                    <div class="large-8 small-9 columns">
                        <input type="text" placeholder="Find Stuff">
                    </div>
                    <div class="large-4 small-3 columns">
                        <button class="button expand"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </li>
        </ul>
      </section>
    </nav>
    <div class="row content-margin">
        <div class="large-12">
            <div class="large-9 columns" role="content">
{#            <img src="{{ user.avatar.url }}">#}
                {% block content %}
                {% endblock %}
            </div>
            <aside class="large-3 columns">
                <div class="panel">
                    <h1>
                        Popular Tags
                    </h1>
                    {% for element in tags %}

                        <p>{{ element.text }}</p>

                    {% endfor %}
                </div>
                <div class="panel">
                    <h1>
                        Best members
                    </h1>
                        {% for element in best_users %}

                            <p>{{ element.username }}</p>

                        {% endfor %}
                </div>
            </aside>
        </div>
    </div>


    <script src="{% static 'ask_app/js/jquery.js' %}"></script>
    <script src="{% static 'ask_app/js/foundation.min.js' %}"></script>
    {#  script for foundation initialization  #}
    <script> $(document).foundation(); </script>

</body>
</html>